traders:
  - id: john
    api_key: "..."
    api_secret: "..."
    passphrase: "..."
    demo_mode: true
    notify_chat: -100000001
  - id: bob
    api_key: "..."
    api_secret: "..."
    passphrase: "..."
    demo_mode: false
    notify_chat: -100000002

timeouts:
  buy: 20
  sell: 20
rate_limit_rps: 15
tradingview_secret: "..."
telegram_token: "..."